
@media \0screen {
   .top_content,
	.slider,
	.blurbs_content,
	.bottom_content,
	.footer_content{
		max-width: 479px;
	}
	.top{
		height: 517px;
	}
	.logo{
		padding: 70px 0px 0 83px;
	}
	.top_header{
		text-align: center;
		margin-bottom: -7px;
	}
	.nav{
	display: none;
	position: absolute;
	}
	.nav_480{
		
		display: block;
		position: absolute;
		width: 246px;
		height: 259px;
		top: 129px;
		left: 36px;
	}
	.menu{
		display: block;
		list-style: none;
		position: relative;
		text-align: center;
	}
	.menu:after {
		display: block;
		content: ' ';
		clear: both;
		float: none;
	}
	.nav_item480,
	.sub_item {
		position: relative;
		height: 45px;
		width: 245px;
	}
	.nav_item480{
		height: 33px;
		margin-right: 6.75%;
		float: left;
		padding-top: 14px;
	}
	.nav_link1 {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		padding-left: 0px;
		padding: 0px 4px 3px 4px;
	}
	.nav_item480:hover {
		background-color: rgba(63, 50, 71, 0.8 );
		border-radius: 10px 10px 0 0;
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		transition: 0.3s;
	}
	.submenu {
		display: none;
		position: absolute;
		top: 46px;
		left: -1px;
	}
	.sub_item {
		display: block;
		height: 20px;
		padding: 9px 0 9px 0;
		background-color: rgba(63, 50, 71, 0.8 );
		border-top: 1px solid #523e5a;
		border-bottom: 1px solid #36283e;
		font-size: 24px;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
	}
	.sub_item:last-child{
		border-radius:  0 0 10px 10px;
		border-bottom: 1px solid #000;
	}
	.sub_link {
		display: block;
		color: white;
		text-decoration: none;
	}
	.sub_item:hover {
		border-bottom: 2px solid #edbfff;
		background-color: rgba(43, 35, 50, 0.8 );
		transition: 0.3s;
	}
	.nav_item480:hover > .submenu {
		display: block;
		transition: 0.3s;
	}

	/*SLIDER*/

	.slider_bg{
		background-color: transparent;
		height: 0px;
	}
	.line{
		margin: 0 auto;
		margin-top: 5px;
		margin-bottom: 121px;
	}
	.container{
		width: 100%;
	}
	.slider_header{
		font-size: 36px;
		color: #fefefe;
		text-shadow: 0 2px 2px rgba(0,0,0,.3);
		padding-top: 82px;
		letter-spacing: -0.2px;
		margin-left: 64px;
	}
	.slider_slogan{	
		max-height: 18px;
		max-width: 68%;
		overflow: hidden;
		padding: 3px 0 0 64px;
		color: #edbfff;
		text-transform: uppercase;
		font-size: 18px;
	}
	.slider_text,
	.slider_phone{
		display: none;
	}
	.slider_dots{
		padding: 78px 0 65px 122px;
		margin: 0;
	}

	/*BLURBS*/
	
	.blurbs{
		height: 528px;
		padding-top: 70px;
	}
	.left_blurb,
	.center_blurb,
	.right_blurb{
		width: 88%;
		float: left;
		padding-left: 16px;
		padding-top: 0;
	}
	.lBlurb_header,
	.cBlurb_header,
	.rBlurb_header{
		margin-left: 24px;
		margin-top: -1px;
		font-size: 24px;
	}
	.lBlurb_text,
	.cBlurb_text,
	.rBlurb_text{
		max-height: 71px;
		overflow: hidden;
		padding: 3px 0 0 24px;
	}
	.lBlurb,
	.cBlurb,
	.rBlurb{
		float: left;
		width: 85%;
	}
	.right_blurb{
		margin-top: 16px;
	}
	.lBlurb_img,
	.cBlurb_img,
	.rBlurb_img{
		background: url(../img/blurbs-img.png) 0 0;
		float: left;
		padding: 0;
		margin: 0 0 0 13px;
	}
	.rBlurb_img{
		margin: 0px 0 0 13px;
	}
	.lBlurb_link,
	.cBlurb_link,
	.rBlurb_link{
		padding: 17px 4px 25px 0px;;
	}
	.rBlurb_header{
		padding: 0;
	}

	/*TESTIMONIALS*/

	.testimonials{
		padding-top: 70px;
	}
	.man{
		top: 87px;
		left: 19px;
	}
	.box{
		width: 59%;
		margin-left: 44px;
		padding: 24px 33px 23px 34px;
	}
	.box_header{
		width: 100%;
		display: inline-block;
		font-size: 24px;
	}
	.box_header2{
		font-size: 24px;
	}
	.box_text{
		padding: 4px 0 0px 4px;
		max-height: 172px;
	}
	.testimonials_nav {
		padding: 23px 0 0 138px;
	}
	.updates_header {
		padding: 44px 0 16px 18px;
	}
	.updates_container{
		float: left;
	}
	.updates1_img,
	.updates2_img,
	.updates3_img {
		margin-left: 19px;
	}
	.updates_title{
		max-width: 168px;
		max-height: 16px;
		overflow: hidden;
	}
	.updates_text{
		max-width: 251px;
		max-height: 13px;
		overflow: hidden;
	}
	.updates1, 
	.updates2, 
	.updates3 {
		margin-bottom: 23px;
	}
	.updates_link{
		display: none;
	}
	.updates_link320{
		clear: both;
		float: left;
		display: block;
		margin-left: 205px;
		padding: 0;
		margin-top: -1px;
	}
	.blog{
		height: 398px;
	}
	.brands_content {
		height: 99%;
	}
	.brands{
		height: 422px;
		max-width: 100%;
	}
	.brands_img1,
	.brands_img2,
	.brands_img3,
	.brands_img4,
	.brands_img5,
	.brands_img6{
		width: 125px;
		background-image: url(../img/brands.png);
		height: 65px;
		float: left;
		margin: 50px 0 0px 0px;
	}
	.brands_img1{
		margin-left: 61px;
		margin-top: 51px;
	}
	.brands_img2{
		background-position:  -130px 0;
		margin-left: -5px;
		margin-top:  51px;
	}
	.brands_img3{
		background-position: -260px 0px;
		margin-left: 59px;
		margin-top: 60px;
	}
	.brands_img4{
		background-position: -390px 0px;
		margin: 60px 0px 0 -5px;
	}
	.brands_img5{
		background-position: -520px 0px;
		margin: 41px 0px 0 33px;
	}
	.brands_img6{
		background-position: -650px 0px;
		margin: 41px 0px 0 -5px;
	}
	.bottom{
		display: none;
	}
	footer{
		height: 76px;
	}
	.nav--footer{
		display: none;
	}
	.design{
		margin: 43px 95px 3px 85px;
	}
}

