

@font-face {
	font-family: 'League_Gothic';
	src:url('../fonts/leaguegothic-regular-webfont.eot');
	src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
	url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
	url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
.wrapper{
	overflow-x: hidden;
}
body{
	font-family:  'League_Gothic', Arial, sans-serif;
}

/*TOP*/

.top{
	height: 100%;
	background: url(../img/bg.jpg)  top center;
	background-size: cover;
	border-bottom: 1px solid #000;
}

.top_content,
.slider,
.blurbs_content,
.bottom_content,
.footer_content{
	max-width: 966px;
}
.logo{
	max-width: 100%;
	margin-bottom: 31px;
}
.top_header{
	float: left;
	margin-bottom: 136px;
}
.nav_480{
	visibility: hidden;
	position: absolute;
}
.nav{
	width: 66%;
	float: left;
	margin-top: 0.6%;
	margin-left: 18%;
}
.nav_item{
	margin-right: 6.75%;
	float: left;
}
.nav_item:last-child{
	margin-right: 0;
}
.nav_link,
.nav_link1{
	padding: 0px 4px;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
	
}
.nav_link:hover,
.nav_link1:hover{
	border-bottom: 2px solid #edbfff;
	transition: 0.3s;
}
/*SLIDER*/

.slider_bg{
	height: 400px;
	width: 100%;
	clear: both;
	background-color: rgba(0, 0, 0, 0.3);
}
.slider_header{
	font-size: 60px;
	color: #fefefe;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.slider_slogan{
	color: #edbfff;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.slider_text{
	padding-top: 6px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: lighter;
	letter-spacing: -0.07px;
	line-height: 24px;
}
.container{
	width: 54%;
	float: left;
	padding-top: 78px;
	letter-spacing: -0.5px;
}
.slider_phone{
	margin: -17px 0 0 95px;
}
.slider_dots{
	margin: 92px 0 54px 711px;
}  


/*BLURBS*/


.blurbs{
	padding-top: 75px;
	background-image: -webkit-linear-gradient(bottom, #322539, #745083);
	background-image: -moz-linear-gradient(bottom, #322539, #745083);
	background-image: -o-linear-gradient(bottom, #322539, #745083);
	background-image: -ms-linear-gradient(bottom, #322539, #745083);
	background-image: linear-gradient(to top, #322539, #745083);
	height: 266px;
	-moz-box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.75);
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.75);

}
.left_blurb,
.center_blurb,
.right_blurb{
	float: left;
}
.left_blurb{
	width: 31%;
	padding-right: 69px;
}
.center_blurb{
	width: 28%;
}
.right_blurb{
	width: 33.5%;
}
.lBlurb_header,
.cBlurb_header,
.rBlurb_header{
	margin: 1px 0 0px 26px;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px #0f1518;
}
.cBlurb_header{
	margin: 1px 0 0px 34px;
}
.rBlurb_header{
	padding-left: 76px;
}
.lBlurb_text,
.cBlurb_text,
.rBlurb_text{
	clear: both;
	padding: 0px 0 0 62px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px #0f1518;
	line-height: 24px;
}
.cBlurb_text{
	padding-left: 33px;
}
.rBlurb_text{
	padding-left: 97px;
}
.lBlurb_img,
.cBlurb_img,
.rBlurb_img,
.lBlurb_header{
	float: left;
}
.lBlurb_img{
	width: 27px;
	height: 32px;
	margin: 7px 0 0 10px;
	background: url(../img/blurbs-img.png) ;
}
.lBlurb_link,
.cBlurb_link,
.rBlurb_link{
	float: right;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
.lBlurb_link{
	padding: 20px 20px 0 0;
}
.cBlurb_link{
	padding: 20px 16px 0 0;
}
.rBlurb_link{
	padding: 20px 2px 0 0;
}
.lBlurb_link:hover,
.cBlurb_link:hover,
.rBlurb_link:hover{
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
.cBlurb_img{
	width: 27px;
	height: 32px;
	background: url(../img/blurbs-img.png) -30px 0;
	margin: 7px 0 0 -17px;
}
.rBlurb_img{
	width: 27px;
	height: 32px;
	background: url(../img/blurbs-img.png) -60px 0;
	margin: 7px 0 0 50px;
}


/*TESTIMONIALS*/


.testimonials{
	padding-top: 100px;
	position: relative;
	background-color: #f9f9f9;
}
article,
.blog{
	float: left;
}
.blog{
	width: 498px;
}
.box{
	width: 362px;
	height: 100%;
	margin-left: 23px;
	padding: 29px 27px 54px 39px;
	background: url(../img/cloud.png);
}
.man{
	position: absolute;
	top: 118px;
	left: 0px;
}
.box_header,
.box_header2{
	float: left;
	padding-right: 5px;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
	color: #454545;
}
.box_header2{
	color: #edbfff;
}
.box_text{
	clear: both;
	padding: 10px 12px 0 2px;
	max-height: 171px;
	overflow: hidden;
	text-indent: 4px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	font-weight: lighter;
	line-height: 24px;
	letter-spacing: -0.1px;
}
q{
	font-family: "Open Sans", Arial, sans-serif;
	quotes: "\0022" "\0022";
}
.testimonials_nav{
	padding: 4px 0 0 195px;
}
.updates_header{
	padding: 29px 0 16px 58px;
	font-size: 30px;
	color: #454545;
	text-shadow: 1px 1px #fff;
}
.updates1_img, 
.updates2_img, 
.updates3_img{
	width: 48px;
	height: 48px;
	background: url(../img/center-sprite.png);
	float: left;
	margin-left: 60px;
}
.updates2_img{
	background-position: 0px -48px;
}
.updates3_img{
	background-position: 0px -96px;
	margin-top: 0px;
}
.updates1, 
.updates2,
.updates3{
	float: left;
	max-height: 45px;
	margin-bottom: 21px;
	position: relative;
}
.updates3{
	margin-top: -1px;
}
.updates_title,
.updates_text{
	padding: 7px 0 4px 17px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	letter-spacing: 0.4px;
}
.updates_title{
	padding: 5px 0 0 18px;
	letter-spacing: 0.25px;
}
.updates_text{
	max-width: 374px;
	font-weight: lighter;
	letter-spacing: -0.1px;
}
.updates_link320{
	display: none;
	clear: both;
	float: right;
	padding: 7px 30px 0 0;
	margin-bottom: 90px;
	font-size: 18px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	text-decoration: none;
}

.updates_link{
	display: block;
	clear: both;
	float: right;
	margin-bottom: 90px;
	padding: 6px 10px 0 0;
	font-size: 18px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	text-decoration: none;
}

/*BRANDS*/


.brands{
	clear: both;
}
.brands_content{
	height: 118px;
}
.line1{
	width: 100%;
	height: 1px;
	background-color:  #e6e6e6;
}
.line2{
	width: 100%;
	height: 1px;
	background-color: #fefefe;
}
.brands_img1,
.brands_img2,
.brands_img3,
.brands_img4,
.brands_img5,
.brands_img6{
	width: 125px;
	height: 65px;
	float: left;
	margin-top: 24px;
}
.brands_img1{
	background-image: url(../img/brands.png);
	margin-left: 94px;
}
.brands_img2{
	background: url(../img/brands.png) -125px 0;
}
.brands_img3{
	background: url(../img/brands.png) -250px 0;
}
.brands_img4{
	background: url(../img/brands.png) -375px 0;
}
.brands_img5{
	background: url(../img/brands.png) -500px 0;
}
.brands_img6{
	background: url(../img/brands.png) -625px 0;
	width: 150px;
}


/*BOTTOM*/

.bottom{
	clear: both;
	height: 302px;
	padding-top: 94px;
	background-color: #ececec;
}
.news_header768{
	display: none;
}
.bottom-left{
	float: left;
	width: 29.3%;
}
.bottom_logo1{
	font-size: 47px;
	color: #454545;
	text-shadow: 0 1px #fff;
}
.bottom_logo2{
	font-size: 47px;
	color: #b9b9b9;
}
.bottom_copyright{
	padding: 15px 0 0 0;
	font-family: Georgia, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 1px 1px #fff;
	letter-spacing: -0.2px;
}
.bottom_text,
.comments_text,
.news_text{
	padding-top: 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	color: #787878;
	text-shadow: 1px 1px #fff;
	line-height: 24px;
	letter-spacing: -0.4px;
}
.bottom_text{
	max-height: 120px;
	overflow: hidden;
}
.comments_text,
.news_text{
	padding-top: 8px;
}
.comments{
	float: left;
	width: 29.5%;
	padding-left: 56px;
	padding-top: 2px;
	letter-spacing: -0.2px;
}
.comments_header,
.news_header{
	font-size: 30px;
	color: #454545;
}
.news{
	float: left;
	width: 29.5%;
	max-height: 205px;
	overflow: hidden;
	padding-left: 56px;
	padding-top: 2px;
	letter-spacing: -0.2px;
}
footer{
	clear: both;
	height: 99px;
	background: url(../img/bg_bot.jpg);
}
.nav--footer{
	margin-left: 0;
	margin-top: 4.8%;
}
.nav--footer .nav_item{
	margin-left: 0;
	margin-right: 6.2%;
}
.nav--footer .nav_link{
	font-size: 20px;
	padding-left: 0;
}
.design{
	float: right;
	margin: 54px 5px 0 0px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: lighter;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}
.design2{
	float: right;
	margin-left: 3px;
	font-weight: bold;
}
/*__________________________________________________________________________*/

@media screen and (min-width: 768px) and (max-width: 959px){

	.top_content,
	.slider,
	.blurbs_content,
	.bottom_content,
	.footer_content{
		max-width: 959px; 
	}
	.top_header{
		margin-bottom: 0;
	}
	.nav{
		clear: both;
		width: 100%;
		margin: 0;
		padding-bottom: 79px;
	}
	.nav_item{
		margin-right: 5.7%;
		margin-left: 0;
	}
	.nav_link1{
		padding-left: 0;
	}
	.container{
		max-width: 40%;
		overflow: hidden;
	}
	.slider_header{
		padding: 19px 0 0 26px;
		font-size: 48px;
	}
	.slider_slogan{
		max-height: 20px;
		overflow: hidden;
		padding: 8px 0 0 23px; 
		font-size: 24px;
	}
	.slider_text{
		max-height: 109px;
		padding: 11px 0 0 24px; 
		font-size: 16px;
		line-height: 27px;
	}
	.slider_phone{
		margin: -24px 0 0 122px;
	}
	.slider_dots{
		margin: 35px 0 96px 522px;
	}
	.lBlurb_img{
		margin-top: 3px;
	}
	.lBlurb_header,
	.cBlurb_header,
	.rBlurb_header{
		font-size: 24px;
	}
	.lBlurb_text,
	.cBlurb_text,
	.rBlurb_text{
		max-height: 136px;
		overflow: hidden;
		padding: 0px 0 0 64px;
		line-height: 23px;
	}
	.left_blurb{
		width: 30%;
		padding-right: 51px;
	}
	.lBlurb_link {
		padding: 9px 20px 0 0;
	}
	.center_blurb{
		width: 26%;
	}
	.cBlurb_text{
		padding: 0px 0 0 34px;
	}
	.cBlurb_img{
		margin: 3px 0 0 -18px;
		background: url(../img/blurbs-img.png) 0 0;
	}
	.cBlurb_link {
		padding: 10px 20px 0 0;
	}
	.right_blurb{
		width: 33%;
	}
	.rBlurb_img{
		margin: 3px 0 0 43px;
		background: url(../img/blurbs-img.png) 0 0;
	}
	.rBlurb_header{
		margin: 0 0 0 19px;
	}
	.rBlurb_text{
		padding-left: 95px;
	}
	.rBlurb_link {
		padding: 9px 12px 0 0;
	}
	.testimonials{
		width: 100%;
		position: relative;
	}
	article{
		width: 46%;
	}
	.box{
		width: 70%;
	}
	.box_header,
	.box_header2{
		font-size: 24px;
	}
	.box_header{
		margin-right: 146px;
	}
	.box_text{
		padding-right: 0;
		max-height: 148px;
		overflow: hidden;
		letter-spacing: -0.2px;
		width: 100%;
	}
	.testimonials_nav {
		padding: 7px 0 0 138px;
	}
	.blog{
		width: 52%;
	}
	.updates1,
	.updates2,
	.updates3{
		max-width: 77%;
	}
	.updates2,
	.updates3{
		margin-top: 1px;
	}
	.updates_header{
		padding-left: 42px;
	}
	.updates1_img, 
	.updates2_img, 
	.updates3_img{
		margin-left: 43px;
	}
	.updates_text{
		max-width: 85%;
		max-height: 14px;
		overflow: hidden;
		margin-right: 0;
	}
	.updates_link{
		display: none;
	}
	.updates_link320{
		display: inline-block;
		padding-top: 4px; 
	}
	.brands_img1{
		margin-left: 3px;
	}
	.brands_img2,
	.brands_img3,
	.brands_img4,
	.brands_img5,
	.brands_img6{
		margin-left: -10px;
	}
	.bottom_logo1,
	.bottom_logo2,
	.bottom_copyright,
	.comments_header{
		display: none;
	}
	
	.news_header768,
	.news_header{
		display: inline-block;
		font-size: 24px;
		color: #454545;
		padding-top: 6px;
	}
	.bottom_content{
		max-height: 212px;
		overflow: hidden;
	}
	.bottom-left{
		width: 27%;
		padding-right: 4px;
	}
	.bottom_text{
		max-height: 100%;
	}
	.comments,
	.news{
		width: 27%;
	}
	footer{
		height: 157px;
		padding-top: 46px;
	}
	.nav--footer .nav_item {
		margin-right: 5.1%;
	}
	.nav--footer{
		padding-bottom: 20px;
	}
	.design{
		padding-right: 38px;
		margin-top: 17px;
	}
}
/*____________________________________________________________________________*/

@media screen and (max-width: 767px) and (min-width: 480px){
	.top_content,
	.slider,
	.blurbs_content,
	.bottom_content,
	.footer_content {
		max-width: 767px;
	}
	.top_content{
		height: 200px;
	}
	.top_header{
		margin-bottom: 0;
	}
	.logo{
		padding: 67px 0 0 164px;
	}
	.nav{
		visibility: hidden;
		position: absolute;
	}
	.nav_480{
		visibility: visible;
		display: block;
		position: absolute;
		width: 246px;
		height: 259px;
		top: 129px;
		left: 118px;
		text-align: center;
	}

	.menu{
		display: block;
		list-style: none;
		position: relative;
	}
	.menu:after {
		display: block;
		content: ' ';
		clear: both;
		float: none;
	}
	.nav_item480,
	.sub_item {
		position: relative;
		height: 45px;
		width: 245px;
	}
	.nav_item480{
		height: 33px;
		float: left;
		margin-right: 6.75%;
		padding-top: 14px;
	}
	.nav_link1 {
		padding-left: 0px;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
	.nav_item480:hover {
		background-color: rgba(63, 50, 71, 0.8 );
		border-radius: 10px 10px 0 0;
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		transition: 0.3s;
	}
	.submenu {
		display: none;
		position: absolute;
		top: 46px;
		left: -1px;
	}
	.sub_item {
		display: block;
		height: 20px;
		padding: 9px 0 9px 0;
		background-color: rgba(63, 50, 71, 0.8 );
		border-top: 1px solid #523e5a;
		border-bottom: 1px solid #36283e;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		font-size: 24px;
	}
	.sub_item:last-child{
		border-radius:  0 0 10px 10px;
		border-bottom: 1px solid #000;
	}
	.sub_link {
		display: block;
		color: white;
		text-decoration: none;
	}
	.sub_item:active {
		border-bottom: 2px solid #edbfff;
		background-color: rgba(43, 35, 50, 0.8 );
	}
	.nav_item480:hover > .submenu {
		display: block;
		transition: 0.3s;
	}
	.slider_bg{
		height: 245px;
	}
	.slider_header{
		padding: 15px 0 0 40px;
		font-size: 36px;
	}
	.slider_slogan{
		font-size: 18px;
		padding: 2px 0 0 39px;
		max-height: 18px;
		overflow: hidden;
	}
	.slider_text{
		visibility: hidden;
		position: absolute;
	}
	.slider_phone{
		max-width: 40%;
		margin: -10px 0 0 -2px;
	}
	.slider_dots{
		margin: 4.1% 20% 12% 42%;
	}
	.blurbs{
		height: 524px;
	}
	.left_blurb,
	.center_blurb,
	.right_blurb{
		width: 94%;
		padding: 1px 0 0 19px;
	}
	.rBlurb{
		padding-top: 2px;
	}
	.lBlurb_header{
		font-size: 24px;
		margin-left: 24px;
	}
	.lBlurb_img{
		margin: 3px 0px 0px 12px;
	}
	.lBlurb_text,
	.cBlurb_text,
	.rBlurb_text{
		line-height: 22px;
	}
	.lBlurb_text:first-line{
		line-height: 20px;
	}
	.lBlurb_link,
	.cBlurb_link,
	.rBlurb_link{
		padding: 16px 17px 17px 0;
	}
	.cBlurb_img{
		background: url(../img/blurbs-img.png) 0 0;
		margin: 7px 24px 0 12px;
	}
	.rBlurb_img{
		background: url(../img/blurbs-img.png) 0 0;
		margin: 11px 24px 0 12px;
	}
	.cBlurb_header{
		margin-top: 6px;
		font-size: 24px;
	}
	.rBlurb_header{
		margin-top: 9px;
		padding-left: 0;
		font-size: 24px;
	}
	.cBlurb_text,
	.rBlurb_text{
		padding-left: 64px;
	}
	.testimonials {
		padding-top: 68px;
	}
	article{
		padding-left: 21px;
	}
	.man {
		top: 88px;
		left: 20px;
	}
	.box{
		padding-right: 15px;
		padding-bottom: 51px;
		padding-left: 38px;
	}
	.box_text{
		padding-top: 14px;
	}
	.testimonials_nav{
		padding: 5px 0 0 184px; 
	}
	.updates_header{
		padding: 42px 0 16px 83px;
	}
	.updates1_img,
	.updates2_img,
	.updates3_img{
		margin-left: 84px;
	}
	.updates1,
	.updates2,
	.updates3{
		max-width: 57%;
		overflow: hidden;
	}
	.updates2,
	.updates3{
		margin-top: 1px;
	}
	.updates_text{
		max-height: 14px;
		overflow: hidden;
	}
	.updates_link{
		visibility: hidden;
		position: absolute;
	}
	.updates_link320{
		display: inline-block;
		padding: 2px 78px 0 0;
	}
	.brands_content{
		height: 229px;
	}
	.brands_top,
	.brands_bottom{
		float: left;
	}
	.brands_img1 {
		margin-left: 83px;
		margin-top: 35px;
	}
	.brands_img2,
	.brands_img3{
		margin-top: 35px;
		margin-left: -10px;
	}
	.brands_img4{
		margin-left: 33px;
	}
	.brands_img5,
	.brands_img6{
		margin-left: -10px;
	}
	.bottom_logo1,
	.bottom_logo2,
	.bottom_copyright,
	.comments_header{
		display: none;
	}
	.bottom-left,
	.comments,
	.news{
		width: 93%;
		padding-left: 18px;
		max-height: 133px;
		overflow: hidden;
		margin-bottom: 50px;
	}
	.comments{
		margin-bottom: 53px;
	}
	.bottom{
		padding-top: 79px;
		height: 556px;
		padding-bottom: 33px;
	}
	.news_header768,
	.news_header{
		display: inline-block;
		font-size: 24px;
		color: #454545;
	}
	footer{
		padding-top: 0px;
		height: 200px;
		position: relative;
		overflow: hidden;
	}  
	.nav--footer{
		display: inline-block;
		visibility: visible;
		width: 100%;
		padding-top: 23px;
		padding-left: 4.3%;
	}
	.nav--footer .nav_item{
		float: left;
		margin-right: 4.3%; 
	}
	.design{
		padding: 104px 168px;
		margin-top: 0;
	}
}

/*_____________________________________________________________________________*/

@media screen and (max-width: 479px) and (min-width: 320px){
	.top_content,
	.slider,
	.blurbs_content,
	.bottom_content,
	.footer_content{
		max-width: 479px;
	}
	.top{
		height: 517px;
	}
	.logo{
		padding: 70px 0px 0 83px;
	}
	.top_header{
		text-align: center;
		margin-bottom: -7px;
	}
	.nav{
	visibility: hidden;
	position: absolute;
	}
	.nav_480{
		visibility: visible;
		display: block;
		position: absolute;
		width: 246px;
		height: 259px;
		top: 129px;
		left: 36px;
	}
	.menu{
		display: block;
		list-style: none;
		position: relative;
		text-align: center;
	}
	.menu:after {
		display: block;
		content: ' ';
		clear: both;
		float: none;
	}
	.nav_item480,
	.sub_item {
		position: relative;
		height: 45px;
		width: 245px;
	}
	.nav_item480{
		height: 33px;
		margin-right: 6.75%;
		float: left;
		padding-top: 14px;
	}
	.nav_link1 {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		padding-left: 0px;
		padding: 0px 4px 3px 4px;
	}
	.nav_item480:hover {
		background-color: rgba(63, 50, 71, 0.8 );
		border-radius: 10px 10px 0 0;
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		transition: 0.3s;
	}
	.submenu {
		display: none;
		position: absolute;
		top: 46px;
		left: -1px;
	}
	.sub_item {
		display: block;
		height: 20px;
		padding: 9px 0 9px 0;
		background-color: rgba(63, 50, 71, 0.8 );
		border-top: 1px solid #523e5a;
		border-bottom: 1px solid #36283e;
		font-size: 24px;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
	}
	.sub_item:last-child{
		border-radius:  0 0 10px 10px;
		border-bottom: 1px solid #000;
	}
	.sub_link {
		display: block;
		color: white;
		text-decoration: none;
	}
	.sub_item:hover {
		border-bottom: 2px solid #edbfff;
		background-color: rgba(43, 35, 50, 0.8 );
		transition: 0.3s;
	}
	.nav_item480:hover > .submenu {
		display: block;
		transition: 0.3s;
	}

	/*SLIDER*/

	.slider_bg{
		background-color: transparent;
		height: 0px;
	}
	.line{
		margin: 0 auto;
		margin-top: 5px;
		margin-bottom: 121px;
	}
	.container{
		width: 100%;
	}
	.slider_header{
		font-size: 36px;
		color: #fefefe;
		text-shadow: 0 2px 2px rgba(0,0,0,.3);
		padding-top: 82px;
		letter-spacing: -0.2px;
		margin-left: 64px;
	}
	.slider_slogan{	
		max-height: 18px;
		max-width: 68%;
		overflow: hidden;
		padding: 3px 0 0 64px;
		color: #edbfff;
		text-transform: uppercase;
		font-size: 18px;
	}
	.slider_text,
	.slider_phone{
		display: none;
	}
	.slider_dots{
		padding: 78px 0 65px 122px;
		margin: 0;
	}

	/*BLURBS*/
	
	.blurbs{
		height: 528px;
		padding-top: 70px;
	}
	.left_blurb,
	.center_blurb,
	.right_blurb{
		width: 88%;
		float: left;
		padding-left: 16px;
		padding-top: 0;
	}
	.lBlurb_header,
	.cBlurb_header,
	.rBlurb_header{
		margin-left: 24px;
		margin-top: -1px;
		font-size: 24px;
	}
	.lBlurb_text,
	.cBlurb_text,
	.rBlurb_text{
		max-height: 71px;
		overflow: hidden;
		padding: 3px 0 0 24px;
	}
	.lBlurb,
	.cBlurb,
	.rBlurb{
		float: left;
		width: 85%;
	}
	.right_blurb{
		margin-top: 16px;
	}
	.lBlurb_img,
	.cBlurb_img,
	.rBlurb_img{
		background: url(../img/blurbs-img.png) 0 0;
		float: left;
		padding: 0;
		margin: 0 0 0 13px;
	}
	.rBlurb_img{
		margin: 0px 0 0 13px;
	}
	.lBlurb_link,
	.cBlurb_link,
	.rBlurb_link{
		padding: 17px 4px 25px 0px;;
	}
	.rBlurb_header{
		padding: 0;
	}

	/*TESTIMONIALS*/

	.testimonials{
		padding-top: 70px;
	}
	.man{
		top: 87px;
		left: 19px;
	}
	.box{
		width: 59%;
		margin-left: 44px;
		padding: 24px 33px 23px 34px;
	}
	.box_header{
		width: 100%;
		display: inline-block;
		font-size: 24px;
	}
	.box_header2{
		font-size: 24px;
	}
	.box_text{
		padding: 4px 0 0px 4px;
		max-height: 172px;
	}
	.testimonials_nav {
		padding: 23px 0 0 138px;
	}
	.updates_header {
		padding: 44px 0 16px 18px;
	}
	.updates_container{
		float: left;
	}
	.updates1_img,
	.updates2_img,
	.updates3_img {
		margin-left: 19px;
	}
	.updates_title{
		max-width: 168px;
		max-height: 16px;
		overflow: hidden;
	}
	.updates_text{
		max-width: 251px;
		max-height: 13px;
		overflow: hidden;
	}
	.updates1, 
	.updates2, 
	.updates3 {
		margin-bottom: 23px;
	}
	.updates_link{
		display: none;
	}
	.updates_link320{
		clear: both;
		float: left;
		display: block;
		margin-left: 205px;
		padding: 0;
		margin-top: -1px;
	}
	.blog{
		height: 398px;
	}
	.brands_content {
		height: 99%;
	}
	.brands{
		height: 422px;
		max-width: 100%;
	}
	.brands_img1,
	.brands_img2,
	.brands_img3,
	.brands_img4,
	.brands_img5,
	.brands_img6{
		width: 125px;
		background-image: url(../img/brands.png);
		height: 65px;
		float: left;
		margin: 50px 0 0px 0px;
	}
	.brands_img1{
		margin-left: 61px;
		margin-top: 51px;
	}
	.brands_img2{
		background-position:  -130px 0;
		margin-left: -5px;
		margin-top:  51px;
	}
	.brands_img3{
		background-position: -260px 0px;
		margin-left: 59px;
		margin-top: 60px;
	}
	.brands_img4{
		background-position: -390px 0px;
		margin: 60px 0px 0 -5px;
	}
	.brands_img5{
		background-position: -520px 0px;
		margin: 41px 0px 0 33px;
	}
	.brands_img6{
		background-position: -650px 0px;
		margin: 41px 0px 0 -5px;
	}
	.bottom{
		display: none;
	}
	footer{
		height: 76px;
	}
	.nav--footer{
		display: none;
	}
	.design{
		margin: 43px 95px 3px 85px;
	}
}
